img.Voice_avatar__htiqH:not([src*="295600131250716672"]) { display:none; }

body {
  --bounce-height: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

img.Voice_avatar__htiqH {
  content: url(https://cdn.discordapp.com/attachments/341102288779345921/1065364647756173424/lulu-chibi-offtuber.png);
  height: auto !important;
  width: auto !important;
  border-radius: 0% !important;
  border: none;
  margin: 0;
  padding: 0;
  filter: brightness(50%);
}

img.Voice_avatarSpeaking__lE\+4m {
  content: url(https://cdn.discordapp.com/attachments/988982190450815026/1064391179753504848/lulu-chibi-offtuber.png);
  border-color: rgba(0,0,0,0) !important;
  position: relative;
  animation-name: speak-now;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  filter: brightness(100%);
}

@keyframes speak-now {
  0% { bottom: 0px;  }
  15% { bottom: var(--bounce-height);  }
  30% { bottom: 0px;  }
}

li.Voice_voiceState__OCoZh{
  position: absolute;
  top:  var(--bounce-height);
  left: 0;
}

div.Voice_user__8fGwX{ position: absolute; left:40%; bottom:5%; }

span.Voice_name__TALd9 { display: none; }